<h2 class="display-1 text-center mt-5">Talha's Task To The Morning</h2>

<section class="container">
  <h2 class="display-2 text-center mt-5">Posts</h2>
  <app-file-upload [posts]="posts" [rowCount]="rowCount"></app-file-upload>
  <table class="table table-striped data-table border">
    <thead>
      <tr id="tr">
        <th scope="col">ID</th>
        <th scope="col">Title</th>
        <th scope="col">Text</th>
        <th scope="col">Likes</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let post of posts">
        <th scope="row">
          <input [readOnly]="true" type="number" placeholder="{{ post.id }}" />
        </th>
        <td>
          <input
            id="title{{ post.id }}"
            [readOnly]="true"
            type="text"
            placeholder="{{ post.title }}"
          />
        </td>
        <td>
          <input
            id="text{{ post.id }}"
            [readOnly]="true"
            type="text"
            placeholder="{{ post.textBody }}"
          />
        </td>
        <td>
          <input
            id="likes{{ post.id }}"
            [readOnly]="true"
            type="number"
            placeholder="{{ post.likes }}"
          />
        </td>
        <td>
          <button (click)="deletePost(post.id)" class="btn btn-danger">
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <input
    value="3"
    #rows
    min="1"
    type="number"
    class="form-control w-50 mt-5"
    placeholder="How many rows do you want?"
  />
  <button (click)="getPosts(rows.value)" class="mt-2 btn btn-primary">
    Get
  </button>
</section>
<section class="container">
  <h2 class="display-2 text-center mt-5">Add a new Post</h2>
  <form class="border data-form">
    <div class="mb-3 w-50 m-auto">
      <input
        type="text"
        class="form-control inputs"
        #title
        placeholder="Title"
      />
    </div>
    <div class="mb-3 w-50 m-auto">
      <input
        type="text"
        class="form-control inputs"
        #textBody
        placeholder="Text"
      />
    </div>
    <div class="mb-3 w-50 m-auto">
      <input
        type="number"
        class="form-control inputs"
        #likes
        placeholder="Likes"
      />
    </div>
    <div class="mb-3 w-50 m-auto">
      <button
        type="button"
        class="btn btn-primary inputs"
        (click)="addPost(title.value, textBody.value, likes.value)"
      >
        Add
      </button>
    </div>
  </form>
  <div>
    <h2 class="display-2 text-center mt-5">Edit Post</h2>
    <form class="border data-form">
      <div class="mb-3 w-50 m-auto">
        <input type="number" class="form-control inputs" #id placeholder="ID" />
      </div>
      <div class="mb-3 w-50 m-auto">
        <input
          type="text"
          class="form-control inputs"
          #title
          placeholder="Title"
        />
      </div>
      <div class="mb-3 w-50 m-auto">
        <input
          type="text"
          class="form-control inputs"
          #textBody
          placeholder="Text"
        />
      </div>
      <div class="mb-3 w-50 m-auto">
        <input
          type="number"
          class="form-control inputs"
          #likes
          placeholder="Likes"
        />
      </div>
      <div class="mb-3 w-50 m-auto">
        <button
          type="button"
          class="btn btn-primary inputs"
          (click)="putPost(id.value, title.value, textBody.value, likes.value)"
        >
          Edit
        </button>
      </div>
    </form>
  </div>
</section>
<!-- <router-outlet></router-outlet> -->
